# Python 缓存文件
__pycache__/
*.py[cod]
*$py.class
**/__pycache__/
**/*.pyc

# IDE 文件
.idea/
.vscode/

# 日志文件
logs/

# Zookeeper 数据和日志文件
yamls/zookeeper-data/
yamls/zookeeper-logs/

# ApiServer持久化文件
serverlessPersist/

# testFile中的模型文件
testFile/serverless/zip-function/chat/DialoGPT-small
testFile/serverless/zip-function/gen/distilgpt2